{% extends "base.html" %}

{% load  static %}

{% block css %}

{% endblock css %}

{% block js %}

<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>

<script>
    function login(){
        // Your web app's Firebase configuration
        var firebaseConfig = {
        apiKey: "AIzaSyCdy8EvOhrJk3G86sIxHn8Jo-fz59_2fvE",
        authDomain: "django-pro-b7068.firebaseapp.com",
        projectId: "django-pro-b7068",
        storageBucket: "django-pro-b7068.appspot.com",
        messagingSenderId: "1035908872679",
        appId: "1:1035908872679:web:62c00ea07f6a66e8a56542"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth()
            .signInWithPopup(provider)
            .then((result) => {
                /** @type {firebase.auth.OAuthCredential} */
                var credential = result.credential;

                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
            }).catch((error) => {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
            });
    }
    
</script>

{% endblock js %}